@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  height: 100%;
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: #9ec9db;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 20px;
}

img {
  display: flex;
  justify-content: center;
}

form {
  justify-content: center;
}

label {
  font-size: 2rem;
}

input {
  padding: 5px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  width: 100%;
}

input:focus {
  border: 2px solid white;
  box-shadow: none;
}

table {
  width: 100%;
  border: 2px solid white;
  border-collapse: collapse;
  justify-content: center;
}

thead {
  background-color: #46778c;
}

td {
  border: 2px solid white;
  padding: 10px;
}

button {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
}

#to_float {
  display: flex;
}

#left {
  width: 30vw;
}

#right {
  width: 70vw;
}

#search_menu {
  display: none;
}

#error {
  display: none;
  font-size: 4rem;
  color: #ba4730;
  justify-content: center;
}

#past_image {
  width: 100%;
}

#current {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 1;
}

#current > :not(div:nth-last-child(1)) {
  margin: 1%;
  border-right: 2px solid white;
}

#col1 {
  grid-row: 1;
  grid-column: 1;
}

#col2 {
  grid-row: 1;
  grid-column: 2;
}

#col3 {
  grid-row: 1;
  grid-column: 3;
  border-right: none;
}
