@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

body {
  height: 100%;
  color: grey;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
  position: relative;
  background-color: white;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.25));
}

h1 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  padding: 20px;
}

h3 {
  display: flexbox;
  font-size: 1.2rem;
  width: 100%;
  justify-content: center;
}

img {
  display: flex;
  justify-content: center;
}

form {
  justify-content: center;
}

label {
  font-size: 1.2rem;
  color: white;
  padding: 10px;
}

input {
  padding: 5px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 10px;
  color: white;
  width: 90%;
}

input:focus {
  border: 2px solid white;
  box-shadow: none;
}

table {
  width: 100%;
  border: 2px solid white;
  border-collapse: collapse;
  justify-content: center;
}

thead {
  background-color: #bd2619;
}

td {
  border: 2px solid white;
  padding: 10px;
}

button {
  display: block;
  padding: 10px;
  margin: 10px;
  background-color: transparent;
  color: white;
  border: solid 2px white;
  border-radius: 10px;
}

#to_float {
  display: flex;
}

#left {
  width: 30vw;
  background-color: #bd2619;
}

#right {
  width: 70vw;
}

#search_menu {
  display: none;
}
